body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: #757474;
  color: #e9e9e9;
  padding: 1rem 0.5rem;
}

.left-bar {
  background-color: #d4d4d4;
  padding: 1rem 1rem;
}

.right-bar {
  background-color: #e6e6e6;
  padding: 1rem;
}

.degree {
  font-size: smaller;
}

.border-top-bottom {
  padding: 0.5rem;
  margin: 0.5rem;
}

.five-forecast {
  display : inline-block;
  background-color: hsl(224, 100%, 50%);
  color: #e9e9e9;
  border-radius: 0.5rem;  
  padding: 1rem;
  margin: 0.5rem;
}

.uvColor {
  padding: 5px; 
  border-radius: 5px; 
  color: #fff
}